---
pasty:
  url: http://localhost

irc:
  server: localhost
  encryption: TLS
  port: 6667
  username: pastybot
  channels:
    - name: '#test'
      password: None
    - name: '#test2'
      password: None
