hr {
  margin: 0
}

.inline {
  display: inline-block;
}

.margin-auto {
  margin: auto;
}

.width-100 {
  width: 100%;
}

.float-right {
  float: right;
}

#preview-area,#input-area {
  min-height: 40em;
}

#pasty-link {
  font-size: 1.2em;
  font-weight: bold;
}
