hr {
  margin: 0
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 10em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10em;
  margin-top: 10px;
  background-color: #607D8B;
}

footer > div > p,footer > div > a {
  color: #B0BEC5;
}

footer > div > a:hover {
  color: #CFD8DC;
}

.navbar {
  border-radius: 0px;
}

.navbar-default {
  background-color: #607D8B;
}

.navbar-default .navbar-brand {
  color: #B0BEC5;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #ECEFF1;
  cursor: default;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: ·#CFD8DC;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #B0BEC5;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.inline {
  display: inline-block;
}

.margin-auto {
  margin: auto;
}

.width-100 {
  width: 100%;
}

.float-right {
  float: right;
}

.exception-title {
  font-size: 10em;
}

.exception-description {
  font-size: 2em;
}

#preview-area,#input-area {
  min-height: 40em;
}

#pasty-link {
  font-size: 1.2em;
  font-weight: bold;
}
