{% extends 'base.html' %}
{% block content %}
<h1>List of all Posts:</h1>
{% if posts|length == 0 %}
<div class="row">
  <div class="col-md-12">
    <p>There are no posts. Pasty is sad :-(</p>
  </div>
</div>
{% endif %}
{% for post in posts %}
  {% if post['link'] == None %}
    <h4>{{ post['time'] }}</h4>
  {% else %}
    <div class="row">
      <div class="col-md-6">
        <p>{{ post['title'] }}</p>
      </div>
      <div class="col-md-2">
        <p>Created at:</p>
      </div>
      <div class="col-md-2">
        <p>{{ post['time'] }}</p>
      </div>
      <div class="col-md-2">
        <a class="float-right" href="/get/{{ post['link'] }}" target="_blank">{{ post['id'] }}</a>
      </div>
    </div>
    <hr>
  {% endif %}
{% endfor %}

{% endblock %}
