<!DOCTYPE html>
<html>
  <head>
    <title>Pasty - a pastebot</title>
    <meta name="author" content="Anastassios Martakos" \>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css" \>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/static/js/controller.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/1.4.2/showdown.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js"></script>
    <script src="/static/js/js.cookie.min.js"></script>
  </head>
  <body>
    {% include 'modal.html' %}
    {% include 'nav.html' %}
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <br>
    <br>
    {% include 'footer.html' %}
    {% include 'exception.html' %}
    {% include 'neutral_msg.html' %}
    {% include 'success.html' %}
    {% include 'warning.html' %}
    <script src="/static/js/load_ace.js"></script>
  </body>
</html>
