{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div id="edit-area" class="col-md-12">
      <textarea class="width-100" name="input_field" cols="60" rows="20"></textarea>
  </div>
  <div id="preview-area" style="display: none;">
  </div>
  <div class="col-md-8">
    <p class="inline">Share this link: </p><p class="inline">TBD</p>
  </div>
  <div class="col-md-4">
    <div class="float-right">
      <button id="save" type="button" class="btn btn-default navbar-btn">Save</button>
      <button id="preview" data-mode="edit" type="button" class="btn btn-default navbar-btn">Preview</button>
    </div>
  </div>
</div>
{% endblock %}
