{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <input id="post-title" type="text" class="form-control" placeholder="Post Title" aria-describedby="basic-addon2">
    </div>
  </div>
  <div class="col-md-12">
    <div id="edit-area" class="form-group">
      <textarea id="input-area" placeholder="Post Content" class="width-100 form-control" name="input_field"></textarea>
    </div>
    <div  class="form-group">
      <div id="preview-area" class="form-control" style="display: none;"></div>
    </div>
  </div>
  <div class="col-md-8">
    <div style="display: none;">
      <p class="inline">Share this link: </p><p id="pasty-link" class="inline">TBD</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="float-right">
      <button id="save" type="button" class="btn btn-default navbar-btn">Save</button>
      <button id="preview" data-mode="edit" type="button" class="btn btn-default navbar-btn">Preview</button>
    </div>
  </div>
</div>
{% endblock %}
