{% extends 'base.html' %}
{% block content %}
<input id="mode-control" type="hidden" data-initial-view-mode="{{ view_mode }}">
<input id="post-id" type="hidden" data-post-id="{{ post_id }}">
<div class="row">
  <div class="col-md-12" style="margin-bottom: 10px;">
    <div class="input-group">
      <input id="post-title" type="text" class="form-control" placeholder="Post Title" aria-describedby="basic-addon2" value="{{ post_title }}">
      <div class="input-group-btn">
        <button id="display-mode" data-display-mode="0" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="display-mode-text">Markdown</span> <span class="caret"></span></button>
        <ul id="display-mode-selector" class="dropdown-menu dropdown-menu-right">
          <li><a data-display-mode="0" href="#">Markdown</a></li>
          <li><a data-display-mode="1" href="#">Plain Code</a></li>
          <li><a data-display-mode="2" href="#">Plain Text</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div id="edit-area" class="form-group">
      <textarea id="input-area" placeholder="Post Content" class="width-100 form-control" name="input_field">{{ post_content }}</textarea>
    </div>
    <div  class="form-group">
      <div id="preview-area" class="form-control" style="display: none;">{{ post_content }}</div>
    </div>
  </div>
  <div class="col-md-9 col-sm-9  col-xs-7">
    <div id="link-container" style="display: none;">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2">
          <p class="inline">Share this link: </p>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10">
          <a href="TBD" id="pasty-link" class="inline word-break" target="_blank">TBD</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-5">
    <div class="float-right">
      <button id="save" type="button" class="btn btn-default navbar-btn">Save</button>
      <button id="preview" data-mode="edit" type="button" class="btn btn-default navbar-btn">Preview</button>
    </div>
  </div>
</div>
{% endblock %}
